<!DOCTYPE html>
<html>
    <head>
        <%- include("../partials/head") %>
        <%- include("../partials/sketchRoomIncludes") %>
    </head>
    <body class="container">
        <%- include("../partials/header") %>

        <%- include("../partials/sketchRoomBody")  %>

        <footer>
            <%- include("../partials/footer") %>
        </footer>
    </body>
</html>